@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.desktop {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E6E6E6;
}

.mobile {
    display: none;
}

.top {
    margin: 0px auto;
    height: 103px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.margin-top {
    margin-left: 180px;
}

.links {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}

.link {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 26px;
    letter-spacing: -0.8px;
    margin-left: 13.5px;
}

.dred {
    color: #A80001;
}

.cgreen {
    color: #06AA48;
}

.corange {
    color: #FF7F00;
}

.cgray {
    color: #666666;
}

.cblue {
    color: #0769DE;
}

a:hover {
    filter: brightness(130%);
    -webkit-filter: brightness(130%);
    -moz-filter: brightness(130%);
    -o-filter: brightness(130%);
    -ms-filter: brightness(130%);
}

a:link {
    text-decoration: none;
}

.corpo {
    display: flex;
    justify-content: flex-start;
    width: 1145px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.esquerda {
    float: left;
    padding-right: 13px;
    border-right: 1px solid #E6E6E6;
    width: 50%;
    height: 670px;
}

.cima-esquerda {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 52px;
    letter-spacing: -0.5px;
    margin-bottom: 27px;
}

.principal {
    font-family: 'Open Sans', sans-serif;
    font-size: 52px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: #A80001;
}

.secundaria {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.6px;
    color: #A80001;
}

.baixo-esquerda {
    display: flex;
    justify-content: flex-start;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    width: 95%;
    border-top: 1px solid #E6E6E6;
}

.destaque-esquerda {
    padding-top: 13.5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20.5px;
    font-weight: bold;
    letter-spacing: -4.5%;
    color: #A80001;
}

.sub-esquerda {
    font-family: 'Open Sans', sans-serif;
    font-size: 13.5px;
    letter-spacing: -4.8%;
    color: #A80001;
}

.noticia-esquerda {
    margin-top: 27px;
    margin-bottom: 27px;
    text-align: left;
    width: 174px;
}

.texto-format-esquerda-destaque,
.texto-format-esquerda-sub {
    margin-top: 13.5px;
    text-align: left;
    width: 174px;
}

.texto-format-meio-destaque,
.texto-format-meio-sub {
    margin-top: 13.5px;
    text-align: left;
    width: 210px;
}

.texto-format-direita-destaque,
.texto-format-direita-sub {
    margin-top: 13.5px;
    text-align: left;
    width: 217px;
}

.noticia-format {
    margin-left: 13.5px;
}

.meio {
    justify-content: left;
    align-items: center;
    width: 291px;
    padding-right: 10px;
    height: 109%;
    border-right: 1px solid #E6E6E6;
}

.destaque-meio {
    padding-top: 13.5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -4.5%;
    text-align: center;
    color: #06AA48;
}

.sub-meio {
    font-family: 'Open Sans', sans-serif;
    font-size: 13.5px;
    letter-spacing: -4.8%;
    text-align: center;
    color: #06AA48;
}

.noticia-meio {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 31.7px;
    text-align: left;
    width: 207px;
}

.direita {
    width: 291px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    text-align: center;
}

.destaque-direita {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -4.5%;
    text-align: center;
    color: #FF8203;
}

.sub-direita {
    font-family: 'Open Sans', sans-serif;
    font-size: 13.5px;
    letter-spacing: -4.8%;
    text-align: center;
    color: #FF8203;
}

.com-foto {
    display: block;
}

.sem-foto {
    display: block;
}

.meio-format {
    margin-right: auto;
    margin-left: auto;
}

.pequena {
    width: 171px;
}

.grande {
    width: 219px;
}